{% extends "base.html" %}
{% load static %}



{% block content %}
<div class="container-fluid content-container about-background">
    <div class="row r-100 justify-content-center">
        <div class="col-10 col-md-6 col-lg-4 my-auto">
            <div class="about-container mx-auto my-3">
                <h1 class="logo-font py-2">About Us</h1>

                <h4 class="py-2">The Gin Shed is a small but perfectly shaped shop for all things juniper laced. </h4>

                <p class="py-2">The Gin Shed is a celebration of all things gin, those who make it, those who write about 
                it and those whose creative projects transcend single producers to bring together the many 
                facets of this bustling industry. We developed it as a response to our growing concerns over 
                the lack of shelf curation and upfront advice for consumers in an increasingly busy spirits 
                category. While we love an exhaustive collection and admire those who can stock hundreds of 
                gins, we created this online store to bring back the personal touch. We only retail gins 
                which we know to be authentic, high quality and that we would happily recommend to our closest 
                friends. </p>
            </div>
        </div>
    </div>
</div>

 
{% endblock %}