{% extends "base.html" %}
{% load static %}



{% block content %}
<div class="container-fluid content-container about-background">
    <div class="row page-row">
        <div class="col-10 col-md-6 col-lg-5 my-auto">
            
        </div>
    </div>
</div>
<div class="container-fluid about-container my-2">
    <h1 class="logo-font mx-5 py-1">About Us</h1>

    <h4 class="mx-5 py-1">The Gin Shed is a small but perfectly shaped shop for all things juniper laced. </h4>

    <p class="mx-5 py-1">The Gin Shed is a celebration of all things gin, those who make it, those who write about 
    it and those whose creative projects transcend single producers to bring together the many 
    facets of this bustling industry. We developed it as a response to our growing concerns over 
    the lack of shelf curation and upfront advice for consumers in an increasingly busy spirits 
    category. While we love an exhaustive collection and admire those who can stock hundreds of 
    gins, we created this store to bring back the personal touch. We only retail gins 
    which we know to be authentic, high quality and that we would happily recommend to our closest 
    friends. So why not visit us at our Chester store...</p>
    
    <div id="map" class="mx-5 py-2"></div>
</div>
{% endblock %}

{% block postloadjs %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDO8cLR2O17n8ypQS4XE8T8XGMovsFPa4&callback=initMap"></script>
<script src="{% static 'home/js/map.js' %}"></script>
{% endblock %}