{% extends 'base.html' %}
{% load static %}

 {% block extra_css %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2.3.2/dist/email.min.js"></script>
<script type="text/javascript">
   (function(){
      emailjs.init("user_cAhgSczcxi8hSCfeCwkQf");
   })();
</script>
{% endblock %}

{% block extra_title %}| Contact {% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container content-container">
    <div class="row">
        <div class="col-12 col-md-6 my-3">
            <h2 class="logo-font mb-4">Contact Us</h2>
            <h5 class="text-muted">Submit your questions, comments or queries using the form below</h5>
            <hr>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="contact-form-wrapper mx-auto my-3">
                <form id="contact-form" method="POST" class="mb-3">
                    {% csrf_token %}
                    <div class="row form-group">
                        <div class="col-10 mb-2">
                            {{ form }}
                        </div>
                        <div class="col-10 text-right my-2">
                            <button class="btn btn-black rounded-0" type="submit">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}