{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid content-container pl-0 pr-0">
        <div class="jumbotron jumbotron-fluid" id="home-jumbotron">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-6 col-md-3 offset-md-9 my-auto">
                        <h1 class="d-none d-lg-block display-3 logo-font text-black text-right">
                            Let the fun be Gin!
                        </h1>
                        <div class="my-5 text-right">
                            <h4 class="d-none d-lg-block">
                                <a href="{% url 'products' %}?category=gin,mixers,accessories" class="subscribe-now-btn btn btn-large rounded-10 text-uppercase mx-auto py-3">Shop Now</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}