{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container-fluid header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}


{% block content %}
    <!--********PRIVACY POLICY********-->
    <div class="container-fluid pages-container">
        <div class="container my-5">
            <h1 class="pt-5">Privacy Policy</h1>

            <br>

            <p>Effective date: 7th July 2020</p>

            <br>

            <p>This privacy policy will explain how our organization uses the personal data we collect from you when you use our website. Our Privacy Policy for The Gin Shed is based on the
                <a href="https://gdpr.eu/privacy-notice/">Privacy Policy Template from GDPR.EU</a>.</p>

            <h2>Information Collection And Use</h2>
            <p>We collect several different types of information for various purposes to provide and improve our Service to you.</p>

            <h3>Types of Data Collected</h3>

            <h4>Personal Data</h4>
            <p>While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you ("Personal Data"). Personally identifiable information may include, but is not limited to:</p>
            <ul>
                <li>Email address</li>
                <li>First name and last name</li>
                <li>Country</li>
                <li>Cookies and Usage Data</li>
            </ul>

            <h4>Usage Data</h4>
            <p>We may also collect information on how the Service is accessed and used ("Usage Data"). This Usage Data may include information such as your computer's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of
                our Service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.</p>

            <h4>Tracking & Cookies Data</h4>
            <p>We use cookies in a range of ways to improve your experience on our website, for example, understanding how you use our website</p>
            <p>Cookies are text files placed on your computer to collect standard Internet log information and visitor behaviour information. When you visit our websites, we may collect information from you automatically through cookies or similar technology.
                For further information, visit <a href="www.allaboutcookies.org">allaboutcookies</a></p>
            <p>Examples of Cookies we use:</p>
            <ul>
                <li><strong>Session Cookies.</strong> We use Session Cookies to operate our Service.</li>
                <li><strong>Preference Cookies.</strong> We use Preference Cookies so that we recognize you on our website and remember your previously selected preferences. These could include what language you prefer and location you are in. A mix of first-party
                    and third-party cookies are used..</li>
                <li><strong>Security Cookies.</strong> We use Security Cookies for security purposes.</li>
                <li><strong>Advertising Cookies</strong> We use Advertising Cookies to collect information about your visit to our website, the content you viewed, the links you followed and information about your browser, device, and your IP address. Experience
                    Zanzibar sometimes shares some limited aspects of this data with third parties for advertising purposes. We may also share online data collected through cookies with our advertising partners. This means that when you visit another
                    website, you may be shown advertising based on your browsing patterns on our website.</li>
            </ul>
            <p>You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.</p>

            <h2>Use of Data</h2>
            <p>The Gin Shed uses your data for various purposes:</p>
            <ul>
                <li>To provide and maintain the Service</li>
                <li>To notify you about changes to our Service</li>
                <li>To allow you to participate in interactive features of our Service when you choose to do so</li>
                <li>To provide customer care and support</li>
                <li>To provide analysis or valuable information so that we can improve the Service</li>
                <li>To monitor the usage of the Service</li>
                <li>To detect, prevent and address technical issues</li>
            </ul>

            <h2>Transfer Of Data</h2>
            <p>Your information, including Personal Data, may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from
                your jurisdiction.</p>
            <p>If you are located outside the UK and choose to provide information to us, please note that we transfer the data, including Personal Data, to the UK and process it there.</p>
            <p>Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.</p>
            <p>The Gin Shed will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your Personal Data will take place to an organization or a country unless
                there are adequate controls in place including the security of your data and other personal information.</p>

            <h2>Disclosure Of Data</h2>

            <h3>Legal Requirements</h3>
            <p>The Gin Shed may disclose your Personal Data in the good faith belief that such action is necessary to:</p>
            <ul>
                <li>To comply with a legal obligation</li>
                <li>To protect and defend the rights or property of The Gin Shed</li>
                <li>To prevent or investigate possible wrong doing in connection with the Service</li>
                <li>To protect the personal safety of users of the Service or the public</li>
                <li>To protect against legal liability</li>
            </ul>

            <h2>Security Of Data</h2>
            <p>The security of your data is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Data,
                we cannot guarantee its absolute security.</p>


            <h2>Links To Other Sites</h2>
            <p>The Gin Shed contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.</p>


            <h2>Your Data Protection Rights</h2>
            <p>The Gin Shed would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
            <ul>
                <li><strong>The right to access</strong> – You have the right to request The Gin Shed for copies of your personal data. We may charge you a small fee for this service.</li>
                <li><strong>The right to rectification</strong> – You have the right to request that The Gin Shed correct any information you believe is inaccurate. You also have the right to request The Gin Shed to complete the information
                    you believe is incomplete.</li>
                <li><strong>The right to erasure</strong> – You have the right to request that The Gin Shed erase your personal data, under certain conditions.</li>
                <li><strong>The right to restrict processing</strong> – You have the right to request that The Gin Shed restrict the processing of your personal data, under certain conditions.</li>
                <li><strong>The right to object to processing</strong> – You have the right to object to The Gin Shed’s processing of your personal data, under certain conditions.</li>
                <li><strong>The right to data portability</strong> – You have the right to request that The Gin Shed transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
            </ul>

            <h2>Changes To This Privacy Policy</h2>
            <p>The Gin Shed keeps its privacy policy under regular review and places any updates on this web page.</p>


            <h2>Contact Us</h2>
            <p>If you have any questions about The Gin Shed’s privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us by emailing:</p>

            <p class="pb-5">contact@theginshed.com</p>

        </div>
    </div>

    <!--********/.PRIVACY POLICY********-->
{% endblock %}