<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-4" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products and Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products and Offers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-4" href="#" id="gindrop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gin Drop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gindrop-link">
                <a href="" class="dropdown-item">Monthly Drop</a>
                <a href="" class="dropdown-item">Bi-monthly Drop</a>
                <a href="" class="dropdown-item">Quarterly Drop</a>
                <a href="" class="dropdown-item">All Drops</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-4" href="#" id="ginshop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gin Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="ginshop-link">
                <a href="" class="dropdown-item">Gin</a>
                <a href="" class="dropdown-item">Mixers</a>
                <a href="" class="dropdown-item">Accessories</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-4" href="#">
                Gin Blog
            </a>
        </li>
    </ul>
</div>