{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <!-- Render Post -->
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-lg-8 offset-sm-1 offset-lg-2 text-center">
                <h2 class="post-title mt-5">{{ post.title }}</h2>
                <div class="image-container my-4">
                    {% if post.image %}
                        <img class="img-fluid img-blogpost" src="/media/{{ post.image }}">
                    {% endif %}
                </div>
                <small class="my-5 text-center"><strong>Published:</strong> {{ post.published_date }} </small>
                {% if request.user.is_superuser %}
                    <small class="my-5 ml-3">
                        <a href="{% url 'edit_post' post.id %}">Edit</a> | 
                        <a class="text-danger" href="{% url 'delete_post' post.id %}">Delete</a>
                    </small>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-lg-8 offset-sm-1 offset-lg-2 text-center">
                <p class="my-4">{{ post.content }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-lg-8 offset-sm-1 offset-lg-2 text-center">
                <div class="product-details-container mb-2 mt-md-2">
                    <p class="ml-3 mr-3 text-left"><strong>Views:</strong> {{post.views}}</p>
                    <p class="ml-3 mr-3 text-left"><strong><i class="fas fa-tag mr-1"></i></strong> {{ post.tag }}</p>
                    <div class="row justify-content-end">
                        <a href="{% url 'get_posts' %}" class="btn btn-black rounded-0 text-uppercase">Back to Blog</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>
<!-- Render Comments -->
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-md-8 offset-sm-1 offset-md-2">
            <h4 class="mb-4 text-left">Comments</h4>
        </div>
        <!-- Display Post Comments if any available otherwise display "no comments" text to user. -->
            {% if comments %}
                {% for comment in comments %}
                    <div class="col-sm-12">
                        <div class="card comment-card">
                            <div class="card-body comment-card-body">
                                <p class="">{{ comment.comment_detail }}</p>
                                <small class="text-muted">{{ comment.user }}</small> 
                                <small class="text-muted">{{ comment.date_commented }}</small>
                            </div>
                        </div>
                        {% if user == comment.originator %}
                            <small class="my-5 ml-3">
                                <a href="{% url 'edit_comment' comment.id %}">Edit</a> | 
                                <a class="text-danger" href="{% url 'delete_comment' comment.id %}">Delete</a>
                            </small>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-sm-10 col-md-8 offset-sm-1 offset-md-2 text-left">
                    <p>No Comments</p>
                </div>
            {% endif %}
    </div>
</div>


<!-- Comment Form -->
    <div class="container my-5">
        <div class="row">
            <div class="col-sm-10 col-md-8 offset-sm-1 offset-md-2">
                {% if user.is_authenticated %}
                    <div class="card comment-card">
                        <div class="card-header">
                            <h4><i class="fas fa-comment-dots"></i> Add a Comment</h4>
                        </div>
                        <div class="card-body">
                            <!-- Form fields are without labels to be consistent with modern app design UX themes. -->
                            <form action="#" method="POST" class="form mb-2">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ form }}
                                </div> 
                                <div class="text-right">
                                    <input type="submit" value="Post" class="btn btn-black rounded-0">
                                </div>
                            </form>
                        </div>
                    </div>
                {% else %}
                    <p>Please <a href="{% url 'account_signup' %}">Register</a> or <a href="{% url 'account_login' %}">login</a> to leave a comment</p>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}