{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="overlay"></div>
<div class="container-fluid content-container">

    <!-- Render Post -->
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="mt-5">{{ post.title }}</h2>
            <div class="image-container my-4">
                {% if post.image %}
                    <img class="img-fluid img-blogpost" src="{{ post.image.url }}">
                {% endif %}
            </div>
            <small class="my-5 mr-3 text-center"><strong>Published:</strong> {{ post.published_date }} </small>
            <small class="my-5 mr-3 text-center"><strong>Views:</strong> {{post.views}}</small>
            <small class="my-5 mr-3 text-center"><strong><i class="fas fa-tag mr-1"></i></strong> {{ post.tag }}</small>
            {% if request.user.is_superuser %}
                <small class="my-5 text-center">
                    <a href="{% url 'edit_post' post.id %}">Edit</a> | 
                    <a class="text-danger" href="{% url 'delete_post' post.id %}">Delete</a>
                </small>
            {% endif %}
        </div>
    </div> 
    <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 text-left">
            <p class="my-4">{{ post.content|linebreaks }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 text-right mb-5">
            <a href="{% url 'get_posts' %}" class="btn btn-black rounded-0 text-uppercase">Back to Blog</a>
        </div>
    </div>

    <hr>

    <!-- Post Comments -->
    <div class="row">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2">
            <h4 class="mb-4 text-left">Post Comments</h4>
        </div>
        <!-- Render Comments -->
        <div class="col-10 offset-1 col-md-5 offset-md-1 col-lg-4 offset-lg-2">
            <!-- Display Post Comments if any available otherwise display "no comments" text to user. -->
            {% if comments %}
                {% for comment in comments %}
                    <div class="col-12 p-0">
                        <strong class="">{{ comment.user }}</strong> 
                        <p class="mb-1">{{ comment.comment_detail }}</p>
                        <small class="text-muted">{{ comment.date_commented }}</small> 
                        {% if user == comment.user or user.is_superuser %}
                            <small class="my-2 ml-3"> 
                                <a class="text-danger" href="{% url 'delete_comment' comment.id %}">Delete</a>
                            </small>
                        {% endif %}
                        <hr>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-12 text-left">
                    <p>No Comments</p>
                </div>
            {% endif %}
        </div>
        <div class="col-10 offset-1 col-md-5 col-lg-4">
            <div class="product-details-container mb-3">
                <!-- Comment Form -->
                <div class="row">
                    <div class="col-12">
                        {% if user.is_authenticated %}
                            <button class="btn btn-outline-black rounded-0 btn-lg text-left d-block d-md-none" type="button" data-toggle="collapse" data-target="#addcomment" aria-expanded="false" aria-controls="addcomment">
                                <i class="far fa-comment-alt fa-xs mr-2"></i> Add a comment</button>
                            <div class="collapse pr-5 d-md-block" id="addcomment">
                                <form action="#" method="POST" class="form mt-1 mb-5">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12 mt-2 p-0">
                                            {{ form }}
                                        </div>
                                        <div class="col text-right">
                                            <input type="submit" value="Post" class="btn btn-black rounded-0 mt-2">
                                        </div>
                                    </div> 
                                </form>
                            </div>
                        {% else %}
                            <p>Please <a href="{% url 'account_signup' %}">Register</a> or <a href="{% url 'account_login' %}">login</a> to leave a comment</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
{% endblock %}