{% extends "base.html" %}
{% load static %}

{% block extra_js %}
{% endblock %}


{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid content-container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <h3 class="mb-0">{{ product.name }}</h3>
                    <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                    {% if product.category %}
                        <small class="small mt-1 mb-0">
                            <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                            </a>
                        </small>
                    {% endif %}
                    {% if request.user.is_superuser %}
                        <small class="ml-5">
                            <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                        </small>
                    {% endif %}
                        <br>
                        <br>
                    {% if product.avg_rating %}
                        <small class="mr-2">{{ product.avg_rating }}</small>
                        <small class="ml-2">{{ product.no_of_ratings }} Reviews</small>
                        <br>
                        <small><i class="fas fa-star"></i></small>
                        <small><i class="fas fa-star"></i></small>
                        <small><i class="fas fa-star"></i></small>
                        <small><i class="fas fa-star"></i></small>
                        <small><i class="fas fa-star"></i></small>
                    {% else %}
                        <small class="text-muted mr-5">No Rating</small>
                    {% endif %}
                    <p class="mt-3">{{ product.description }}</p>
                    <form class="form" action="{% url 'add_to_basket' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        {% if product.num_in_stock != 0 %}
                                            <p class="mt-3"><strong>Quantity:</strong></p>
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-black rounded-0" 
                                                    data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-minus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control qty_input" type="number"
                                                name="quantity" value="1" min="1" max="{{ product.num_in_stock }}"
                                                data-item_id="{{ product.id }}"
                                                id="id_qty_{{ product.id }}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-black rounded-0"
                                                    data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-plus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        {% else %}
                                            <p class="text-danger">Out of stock</p>
                                        {% endif %} 
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Basket">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <hr>
    
        <div class="row">
            <div class="col-12 col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <h4 class="mb-4 text-left">Reviews</h4>
            </div>
            <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-5 offset-md-1 col-lg-4 offset-lg-2">
                <div class="product-details-container mb-3">
                    <!-- Review Form -->
                    <div class="row">
                        <div class="col-12">
                            {% if user.is_authenticated %}
                                <h5 class="text-left mb-3">Write Review...</h5>
                                <form action="#" method="POST" class="form mt-1 mb-3">
                                    {% csrf_token %}
                                        <div class="rating-box mb-3">
                                            <p class="mb-2">Your rating*</p>
                                            <div class="stars">
                                                <input type="radio" id="star5" value="5" name="stars"><label for="star5"></label>
                                                <input type="radio" id="star4" value="4" name="stars"><label for="star4"></label>
                                                <input type="radio" id="star3" value="3" name="stars"><label for="star3"></label>
                                                <input type="radio" id="star2" value="2" name="stars"><label for="star2"></label>
                                                <input type="radio" id="star1" value="1" name="stars"><label for="star1"></label>
                                            </div>
                                        </div>

                                        <br>
                                        <div class="col-12 mt-2 p-0">
                                            {{ form|crispy }}
                                        </div>
                                        <div class="col text-right pr-0">
                                            <input type="submit" value="Post" class="btn btn-black rounded-0 mt-2">
                                        </div>
                                </form>
                            {% else %}
                                <p>Please <a href="{% url 'account_signup' %}">Register</a> or <a href="{% url 'account_login' %}">login</a> to leave a review.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Display reviews if available otherwise display "no reviews" to user. -->
            <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-5 offset-md-0 col-lg-4">
                {% if reviews %}
                    {% for review in reviews %}
                        <h5 class="text-left mb-3">Reviews...</h5>
                        <div class="col-12 pl-0">
                            <small class="mr-2">{{ review.stars }} / 5</small> 
                            <small class=""><i class="fas fa-star"></i></small>
                            <small class=""><i class="fas fa-star"></i></small>
                            <small class=""><i class="fas fa-star"></i></small>
                            <small class=""><i class="fas fa-star"></i></small>
                            <small class=""><i class="fas fa-star"></i></small>
                            <br>
                            <strong class="mb-1">{{ review.title }}</strong>
                            <p class="mb-1">{{ review.review_text }}</p> 
                            <small class="text-muted">{{ review.user }}</small> 
                            <small class="ml-3 text-muted">{{ review.date_commented }}</small> 
                            {% if user == review.user or user.is_superuser %}
                                <small class="my-2 ml-3"> 
                                    <a class="text-danger" href="{% url 'delete_review' review.id %}">Delete</a>
                                </small>
                            {% endif %}
                            <hr>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-12 text-left pl-0">
                        <p>No Reviews.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}